mediatheque.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="mediatheque">
        <xs:complexType> 
            <xs:sequence> 
                <xs:element name="livre" maxOccurs="unbounded" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titre" type="xs:string"/>
                            <xs:element name="auteur" type="xs:string"/>
                            <xs:element name="annee" type="xs:integer"/>
                            <xs:element name="genre">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Roman"/>
                                        <xs:enumeration value="Essai"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element> 
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
     </xs:element>
</xs:schema>        
        
            